[submodule "android/Installer"]
	path = android/Installer
	url = https://github.com/KopsourcesORG/KosminorKernelInstaller.git
	branch = m1721
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU.git
	branch = master
[submodule "utils"]
	path = utils
	url = https://github.com/tomxi1997/lxc-docker-support-for-android.git
