#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "K-Nel (Linux/$ARCH $KERNELVERSION) Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

source "utils/docker/Kconfig"

source "utils/nethunter/Kconfig"

source "arch/$SRCARCH/Kconfig"
